/* css styles */
body {
    background-color: white;
}

section {
    padding-bottom: 48px;
}

.title {
    color: black;
    width: 100%;
}

.navbar-logo {
    min-height: 50px;
}

.linux-banner {
    background-color: black;
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 75px;
    z-index: 100;
}

.banner-image {
    width: 300px;
}

/* Media query for navbar logo image, mobile mode 1100px and smaller */

@media only screen and (max-width: 1100px) {

    .navbar-logo {
        min-height: 0;
    } 


}


@media only screen and (max-width: 990px) {

    .linux-banner {
        top: 50px;
    }


}

section#hero {
    padding-top: 128px;
    padding-bottom: 72px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('hero-picture.png');
    /* Display 1 */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
}

section#hero > p {
    font-size: 18px; 
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */ 
    max-width: 768px;
    text-align: center; 
    margin: 0 auto;
}

.what-is-r-section {
    margin: 20px;
}

.preview-picture {
    max-width: 350px;
}

div.nav-footer {
    color: white;
}

div.nav-footer a {
    color: white !important;
}

div.nav-footer a:hover {
    color: #2780e3 !important;
}

.dark-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px;
}

.dark-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.light-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 8px;
}

.light-button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}